.navbar-container{
    color: #ffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3% 1% 2% 1%; 
    margin: 10px 0px 10px 0px;
    border-bottom: 1px solid orangered
}

.logo h2{
    font-family: 'Elsie Swash Caps';
    font-size: x-large;
    color: orangered;

}

.navbar-container>a {
    text-decoration: none;
    color: #ffff;
    font-weight: 800;
}

.navbar-container>a:hover{
    transform: translateY(-3px);
    transition: 0.9s ease-out;
    color: orangered;
}